                                                     [ New File ]
^G Help        ^O Write Out   ^W Where Is    ^K Cut         ^T Execute     ^C Location    M-U Undo       M-A Set Mark
^X Exit        ^R Read File   ^\ Replace     ^U Paste       ^J Justify     ^/ Go To Line  M-E Redo       M-6 Co


# System files
desktop.ini
Thumbs.db
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual env
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Secrets
.env
nana .gitignore
nano .gitignore
# System files
desktop.ini
Thumbs.db
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual env
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Secrets
.env

















































